# <font color=green> **Challenge Pandas 04**

<font color=green> 01 - Los estudiantes participaron en una actividad extracurricular y ganaron puntos extras. Estos puntos extras corresponden al 40% de su nota actual. Por lo tanto, crea una columna llamada "Puntos_extras" que contenga los puntos extras de cada estudiante, es decir, el 40% de su nota actual.

In [1]:
# Importacion de archivo gist alumnos.csv

import pandas as pd

url = 'https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv'

datos = pd.read_csv(url)

In [5]:
# Creando la columna "Puntos_extras"

datos['Puntos_extras'] = datos['Nota'].apply(lambda x: x*0.4)
datos.head()

    Nombre  Edad  Nota Aprobado  Puntos_extras
0  Alberto    20   7.5     True            3.0
1      Ana    18   NaN    False            NaN
2   Camila    27   2.5    False            1.0
3    David    18   5.0    False            2.0
4    Brian    21  10.0     True            4.0

<font color=green> 02 - Crea otra columna llamada "Notas_finales" que contenga las notas de cada estudiante sumadas con los puntos extras.

In [7]:
# Creando la columna "Notas_finales"

datos['Notas_finales'] = datos['Nota'] + datos['Puntos_extras']
datos.head()

    Nombre  Edad  Nota Aprobado  Puntos_extras  Notas_finales
0  Alberto    20   7.5     True            3.0           10.5
1      Ana    18   NaN    False            NaN            NaN
2   Camila    27   2.5    False            1.0            3.5
3    David    18   5.0    False            2.0            7.0
4    Brian    21  10.0     True            4.0           14.0

<font color=green> 03 - Dado que hubo una puntuación extra, algunos estudiantes que no habían sido aprobados antes pueden haber sido aprobados ahora. En función de esto, crea una columna llamada "Aprobado_final" con los siguientes valores:

- True: si el estudiante está aprobado (la nota final debe ser mayor o igual a 7.0).
- False: si el estudiante está reprobado (la nota final debe ser menor que 7.0).

In [8]:
datos['Aprobado_final'] = datos['Notas_finales'].apply(lambda x: True if x >= 7.0 else False)
datos.head()

    Nombre  Edad  Nota Aprobado  Puntos_extras  Notas_finales  Aprobado_final
0  Alberto    20   7.5     True            3.0           10.5            True
1      Ana    18   NaN    False            NaN            NaN           False
2   Camila    27   2.5    False            1.0            3.5           False
3    David    18   5.0    False            2.0            7.0            True
4    Brian    21  10.0     True            4.0           14.0            True

<font color=green> 04 - Realiza una selección y verifica qué estudiantes no habían sido aprobados anteriormente, pero ahora fueron aprobados después de sumar los puntos extras.

In [24]:
seleccion = (datos['Aprobado'] == 'False') & (datos['Aprobado_final'] == True)
seleccion

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
dtype: bool