# <font color=green> **Challenge Pandas 03**

<font color=green> 01 - Verifica si la base de datos contiene datos nulos y, en caso de tenerlos, realiza el tratamiento de estos datos nulos de la manera que consideres más coherente con la situación.

In [3]:
# Importacion de archivo gist alumnos.csv

import pandas as pd

url = 'https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv'

datos = pd.read_csv(url)

In [5]:
# Verificando la existencia de datos nulos

datos.isnull().sum()

Nombre      0
Edad        0
Nota        6
Aprobado    0
dtype: int64

In [7]:
# Reemplazando los valores nulos por 0 y guardandolo en variable

datos = datos.fillna(0)

<font color=green> 02 - Los estudiantes "Alicia" y "Carlos" ya no forman parte del grupo. Por lo tanto, elimínalos de la base de datos.

In [9]:
# Guardamos los índices de las filas a eliminar en una variable
alumnos_a_eliminar = datos.query('Nombre == "Alicia" | Nombre == "Carlos"').index

# Eliminamos las filas correspondientes a los estudiantes "Alicia" y "Carlos"
datos.drop(alumnos_a_eliminar, axis=0, inplace=True)

<font color=green> 03 - Aplica un filtro que seleccione solo a los estudiantes que fueron aprobados.

In [ ]:
# Ocurre un problema porque los datos de la columna "Aprobado" son 
# formato de strings, y hay uno cuyo valor es "Verdadero" en lugar de "True"

# Reemplazando el 'verdadero' por 'true' 

datos['Aprobado'] = datos['Aprobado'].replace({'Verdadero': 'True'})

# Creando el filtro

seleccion = datos['Aprobado'] == 'True'

In [22]:
# Aplicando selección al DataFrame

datos[seleccion]

      Nombre  Edad  Nota Aprobado
0    Alberto    20   7.5     True
4      Brian    21  10.0     True
6    Daniela    21   7.0     True
12  Stephany    26  10.0     True
13    Miriam    25   9.0     True
15    Milena    29   7.0     True
17     Nadia    34   8.0     True

<font color=green> 04 - Guarda el DataFrame que contiene solo a los estudiantes aprobados en un archivo CSV llamado "alumnos_aprobados.csv".

In [23]:
# Guardando el DataFrame resultante del desafío 3 en una variable

alumnos_aprobados = datos[seleccion]

In [15]:
# Guardar la seleccion en formato CSV

# alumnos_aprobados.to_csv('alumnos_aprobados.csv', index=False)

<font color=green> Extra - Al revisar las calificaciones de los estudiantes aprobados, notamos que algunas calificaciones eran incorrectas. Las estudiantes que obtuvieron una calificación de 7.0, en realidad tenían un punto extra que no se contabilizó. Por lo tanto, reemplaza las calificaciones de 7.0 en la base de datos por 8.0. Consejo: busca el método replace.

In [24]:
alumnos_aprobados.replace(7.0, 8.0)

      Nombre  Edad  Nota Aprobado
0    Alberto    20   7.5     True
4      Brian    21  10.0     True
6    Daniela    21   8.0     True
12  Stephany    26  10.0     True
13    Miriam    25   9.0     True
15    Milena    29   8.0     True
17     Nadia    34   8.0     True

In [25]:
alumnos_aprobados = alumnos_aprobados.replace(7.0, 8.0)